body{
  display: flex;
}

section{
    width: 48%;
    margin: 1%;
    height: 450px;
    background-color: rgb(236, 230, 230);
    border-radius: 5%;
  }
  
p{
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

/* fade-in */

.visual .title{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: 700;
}

.visual .one.image {
  position: absolute;
  top: 120px;
  left: 47px;
  width: 200px;
  height: 200px;
}

.visual .one.text{
  position: absolute;
  top: 100px;
  left: 40px;
}

.visual .fade-in {
  opacity: 0;
}

/* floating item */
.floating .floating1{
  position: absolute;
  top: 50px;
  right: 30px;
  width: 200px;
  height: 200px;
  background-color: beige;
}

.floating .floating2{
  position: absolute;
  top: 150px;
  right: 50px;
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}